#container {/* display: flex; *//* justify-content: space-between; */margin: 0 auto;width: 100%;}

@media (max-width: 1059px) {
  .article {
    justify-content: center !important;
  }
}

#content { width: 90%;}


#sidebar {
  display: none;
}

@media (min-width: 1060px) {
  #content {margin: 0;max-width: 800px;width: 64%;}

  #sidebar {
    display: block;
    width: 25%;
  }
}