.clearfix {
  content: "";
  display: table;
  clear: both;  
}

.ibm {
  display: inline-block;
  vertical-align: middle;
}

.fb {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.none {
  display: none !important;
}