.sm {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.sm-anchor {
  
}

.sm-icon {
  border-radius: 50%;
  display: block;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all .3s;
}

.sm-icon:hover {
  transform: scale(1.2);
}

.sticky-wrapper {width: 25%;}

.sticky-wrapper > #sidebar {width: 100%;}

#sidebar {
  width: 25%;
}

/*.author-container {margin-bottom: 2rem;}

.author-img {display: block;}

.author-text {
  background-color: #eee;
  padding: 2rem;
}
.author-name {
  background-color: #eee;
  font-family: Klavika;
  font-size: 1.7rem;
  margin: 0;
}

.author-description {font-size: 1rem;line-height: 1.7;}*/

.newsletter {background-color: #eee;padding: 2rem;margin-bottom: 3rem;text-align: center;}

.newsletter-form-wrapper {
  background-color: transparent !important;
}

.newsletter-form {
  padding: 0 !important;
}

.newsletter-title {margin: 0 0 1rem;}

.newsletter-description {font-size: 0.9rem;margin-bottom: 1rem;line-height: 1.5;}

.newsletter-input {display: block;padding: 0.6rem !important;width: 100% !important;margin-bottom: 0 !important;border: 1px solid #ddd !important;font-size: 1rem !important;}

.newsletter-btn {background-color: rgba(232,82,82,1);border: 0px solid #ccc !important;color: #fff;cursor: pointer;font-size: 1rem;padding: 0.7rem;margin: 0 !important;width: 100% !important;font-family: Merriweather;}

